#clockregion{
    clear: both;
    width: 100%;
    height:300px;
    margin: 0;
}
#clockregion .clock{
    margin-left: 20%;
    color: darkcyan;
}

#clockregion .timevalue{
    font-size: 70px;
}
#clockregion .timeunit{
    font-size: 40px;
}
#clockregion .message{
    margin-left: 20%;
    font-size: 30px;
}