#clockregion{
    visibility: hidden;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    width: 100%;
}
#clockregion .clock{
    margin-left: 20%;
    color: darkcyan;
}

#clockregion .timevalue{
    font-size: 70px;
}
#clockregion .timeunit{
    font-size: 40px;
}
#clockregion .message{
    margin-left: 20%;
    font-size: 30px;
}