.waterflow{
    width: 100%;
    clear: both;
    column-width: 40%;
    -webkit-column-width: 250px;;
    -webkit-column-gap: 5px;
    column-gap: 5px;
    column-count: 2;
}
.waterflow img{
    width: 100%;
    height: auto;
}
.waterflow div{
    margin: 5px;
}