.waterflow{
    width: 100%;
    clear: both;
    column-width: 40%;
    -webkit-column-width: 250px;;
    -webkit-column-gap: 5px;
    column-gap: 5px;
    column-count: 2;
    position: relative;
}
.waterflow img{
    width: 100%;
    height: auto;
}
.waterflow div{
    margin: 5px;
    visibility: hidden;
    text-align: center;
    background-color: #FFFFFE;
}
.waterflow .des{
    text-align: center;
    font-size: 25px;
    color: darkorange;
}